<!--Main Content-->
<!-- Main Body Container -->
<div class="w-full h-auto py-16 px-2 bg-gray-400 border-b-2 border-r-2 rounded border-gray-300 sm:rounded-lg sm:shadow-sm">
  <div class="flex-block sm:flex columns-1 sm:columns-2 px-2">
    <!-- Profile Image Div -->
    <div id="avatar" class="break-after-column w-20 pb-2 sm:pb-0">
      <img
        src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"
        class="rounded-full shadow-lg pl-4 pr-2 sm:w-20 md:w-40 lg:w-40"
        alt="Avatar"
      />
      <h2 class="text-white text-font-bold">{{name}}</h2>
    </div>
    <!-- Container for All the Trip Cards -->
    <div id="trips-container" class="container space-y-3">
      {{#each trips as |trip|}}
      <div id="trip-card" class="container flex-block sm:flex sm:coloumns-2 mx-auto content-center h-max bg-white border-gray-200 border-2 rounded-xl">
        <figure id="trip-photo" class="sm:float-left sm:w-1/2 sm:border-r-2">
          <img 
            src="https://www.history.com/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTk1MDcxNzQ2NTY5Njc2NTE0/gettyimages-584791924.jpg"
            class="flex-shrink rounded-xl sm:rounded-none sm:rounded-l-xl"
            alt="Trip Photo of {{trip.name}}"
          />
        </figure>
        <div id="trip-details" class="sm:float-right sm:w-1/2 px-1 bg-white rounded-xl sm:rounded-r-xl">
          <h2 class="py-2 text-center font-bold border-b-2">{{trip.name}}</h2>
          <p class="pl-2 pt-2">{{trip.description}}</p>
          <div>
            <p class="pl-2 pt-2">{{trip.comments.[0].comment}}</p>
            <p class="text-right">{{trip.comments.[0].user_id}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div id="overlay"></div>
</div>

<script src="./js/tripCreateForm.js"></script>
<script src="./js/profile.js"></script>
